{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/images/css/home.css' %}">
{% endblock %}

{% block title %} Image House | Home {% endblock %}

{% block main %}
    <main>
        {% include 'nav.html' %}
        <div id="images">
            <div id="special-images">
                {% if most_viewed %}
                    <a href="{% url 'image' most_viewed.pk %}">
                        <p class="special-title"><b><i class="far fa-eye"></i></b> Most viewed </p>
                        <div class="image" id="most-viewed">
                            <img src="{{most_viewed.img.url}}" alt="">
                            <div class="stats">
                                <div class="info">
                                    <p>{{most_viewed.user}} | {{most_viewed.created_at}}</p>
                                    <p>{{most_viewed.title}} | {{most_viewed.category}}</p>
                                    <p>views: {{most_viewed.views}}</p>
                                </div>
                                <div class="voting">
                                    <span>{{most_viewed.votes}}</span>
                                    <span>votes</span>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}

                {% if most_voted %}
                    <a href="{% url 'image' most_voted.pk %}">
                        <p class="special-title"><b><i class="fas fa-poll"></i></b> Most voted </p>
                        <div class="special image" id="most-voted">
                            <img src="{{most_voted.img.url}}" alt="">
                            <div class="stats">
                                <div class="info">
                                    <p>{{most_voted.user}} | {{most_voted.created_at}}</p>
                                    <p>{{most_voted.title}} | {{most_voted.category}}</p>
                                    <p>views: {{most_voted.views}}</p>
                                </div>
                                <div class="voting">
                                    <span>{{most_voted.votes}}</span>
                                    <span>votes</span>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}

                {% if most_recent %}
                    <a href="{% url 'image' most_recent.pk %}">
                        <p class="special-title"><b><i class="fas fa-history"></i></b> Most recent</p>
                        <div class="special image" id="most-recent">
                            <img src="{{most_recent.img.url}}" alt="">
                            <div class="stats">
                                <div class="info">
                                    <p>{{most_recent.user}} | {{most_recent.created_at}}</p>
                                    <p>{{most_recent.title}} | {{most_recent.category}}</p>
                                    <p>views: {{most_recent.views}}</p>
                                </div>
                                <div class="voting">
                                    <span>{{most_recent.votes}}</span>
                                    <span>votes</span>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}

            </div>
            <hr>

            <div id="regular-images">

                {% for image in images %}
                    <a href="{% url 'image' image.pk %}">
                        <div class="image" id="most-viewed">
                            <img src="{{image.img.url}}" alt="">
                            <div class="stats">
                                <div class="info">
                                    <p>{{image.user.username}} | {{image.created_at}}</p>
                                    <p>{{image.title}} | {{image.category}}</p>
                                    <p>views: {{image.views}}</p>
                                </div>
                                <div class="voting">
                                    <span>{{image.votes}}</span>
                                    <span>votes</span>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                
                
            </div>
            
            <div id="page-controls">
                <a href=""><i class="fas fa-chevron-left"></i></a> 1 <a href=""><i class="fas fa-chevron-right"></i></a>
            </div>
            
        </div>
    </main>
{% endblock %}