{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/images/css/my_images.css' %}">
{% endblock %}

{% block title %} Image House | My images {% endblock %}

{% block main %}
    <main>
        {% include 'nav.html' %}
        <div id="images">
            <div id="regular-images">

                {% for image in images %}
                    <a href="{% url 'image' image.pk %}">
                        <div class="image" id="most-viewed">
                            <img src="{{image.img.url}}" alt="">
                            <div class="stats">
                                <div class="info">
                                    <p>{{image.created_at}}</p>
                                    <p>{{image.title}} | {{image.category}}</p>
                                    <p>views: {{image.views}}</p>
                                </div>
                                <div class="voting">
                                    <span>{{image.votes}}</span>
                                    <span>votes</span>
                                </div>
                                <button class="btn btn-danger delete-btn" del-pk="{{image.pk}}"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </a>
                {% empty %}
                    <h4>
                        <span>You have not uploaded any images yet.</span>
                        <a href="{% url 'add_image' %}">Add image <i class="fas fa-plus"></i></a>
                    </h4>
                {% endfor %}
            </div>
            
            <div id="page-controls">
                {% if images.has_previous %}
                    <i class="fas fa-chevron-left hover-scale" page-num="{{images.previous_page_number}}" id="prev-page-btn"></i>
                {% endif %}
                <span id="pages-numeration">{{images.number}} of {{images.paginator.num_pages}}</span>
                {% if images.has_next %}
                    <i class="fas fa-chevron-right hover-scale" page-num="{{images.next_page_number}}" id="next-page-btn"></i>
                {% endif %}
            </div>
            
        </div>
    </main>

    <div id="dark" class=""></div>
    <div id="delete-panel">
        <h3>Delete image</h3>
        <p>Are you sure you want to delete this image?</p>
        <button class="btn btn-success" id="yes-del-btn">Yes</button>
        <button class="btn btn-danger" id="no-del-btn">No</button>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static '/images/js/delete_img.js' %}"></script>
    <script src="{% static '/images/js/pages.js' %}"></script>
{% endblock %}