{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/images/css/sign_in.css' %}">
{% endblock %}
{% block title %} Image House | Sign In {% endblock %}

{% block header %}
    <h1>IMAGE H <i class="fas fa-home"></i> U S E </h1>
{% endblock %}


{% block main %}
    <form action="" method="POST" id="sign-in-form">
        <h2>Sign in <i class="fas fa-sign-in-alt"></i></h1>
        {% csrf_token %}
        {{form.username.label}}
        {{form.username}} <br>

        {{form.password.label}}
        {{form.password}}

        <input type="submit" value="Sign in" class="btn btn-outline-light">
        <p class="my-3 flex-evenly">
            <a href="{% url 'sign_up' %}" class="btn btn-outline-light hover-scale">Sign Up <i class="fas fa-user-plus"></i></a>
            <a href="{% url 'password_reset' %}" class="btn btn-outline-light hover-scale">Forgot password? <i class="fas fa-key"></i></a>
        </p>
    </form>


    <img src="{% static '/images/img/sign-in-img.svg' %}" alt="">
    
{% endblock %}