{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/images/css/password_reset.css' %}">
{% endblock %}

{% block title %}
    Image House | Password reset
{% endblock %}

{% block main %}
    <h1>Request sent!</h1>
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    

    <img src="{% static '/images/img/password_reset_img.svg' %}" alt="">
    <a href="{% url 'sign_in' %}" class="hover-scale" id="return-btn"><i class="fas fa-arrow-alt-circle-left"></i></a>

{% endblock %}