{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/images/css/password_reset.css' %}">
{% endblock %}

{% block title %}
    Image House | Password reset
{% endblock %}

{% block main %}
    <h1>Password reset</h1>
    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="email">Email</label>
        <input id="email" type="email" name="email" class="form-control hover-scale">
        <input type="submit" value="Send" class="btn btn-outline-light">
    </form>

    <img src="{% static '/images/img/password_reset_img.svg' %}" alt="">
    <a href="{% url 'sign_in' %}" class="hover-scale" id="return-btn"><i class="fas fa-arrow-alt-circle-left"></i></a>

{% endblock %}