{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/images/css/password_reset.css' %}">
{% endblock %}

{% block title %}
    Image House | Password reset
{% endblock %}

{% block main %}
    <h1>Set a new password</h1>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="new_password1">New password</label>
        <input type="password" name="new_password1" id="new_password1" class="form-control hover-scale">

        <label for="new_password2">Repeat the new password</label>
        <input type="password" name="new_password2" id="new_password2" class="form-control hover-scale">

        <br>
        <input type="submit" value="Send" class="btn btn-outline-light">
    </form>

    <img src="{% static '/images/img/password_reset_img.svg' %}" alt="">
    <a href="{% url 'sign_in' %}" class="hover-scale" id="return-btn"><i class="fas fa-arrow-alt-circle-left"></i></a>

{% endblock %}