{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/images/css/password_reset.css' %}">
{% endblock %}

{% block title %}
    Image House | Password reset
{% endblock %}

{% block main %}
    <h1>Success!</h1>
    <p>Your password has been set.  You may go ahead and <a href="{% url 'sign_in' %}">sign in</a> now.</p>
    
    <img src="{% static '/images/img/password_reset_img.svg' %}" alt="">
    <a href="{% url 'sign_in' %}" class="hover-scale" id="return-btn"><i class="fas fa-arrow-alt-circle-left"></i></a>

{% endblock %}