// $bg-color1: rgb(255, 178, 89);
// $bg-color2: rgb(255, 217, 181);
$bg-color1: rgb(130, 163, 255);
$bg-color2: rgb(235, 235, 235);

body {
    background: linear-gradient(45deg, $bg-color1,  $bg-color2, $bg-color1,  $bg-color2);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    color: white;
    height: 100vh;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


form {
    width: 25rem;
    margin: 4rem;

    input[type='submit'] {
        width: 70%;
        display: block;
        margin: auto;
    }
}

img {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    width: 40%;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
