body {
  background: linear-gradient(45deg, #82a3ff, #ebebeb, #82a3ff, #ebebeb);
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
  background-size: 400% 400%;
  color: white;
  height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

div#images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#images a {
  text-decoration: none;
}

div#images hr {
  color: #0a094e;
  width: 95%;
  margin: auto;
  height: 5px;
}

p.special-title {
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: white;
  text-decoration: none;
}

div#special-images, div#regular-images {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

div.image {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1rem 1rem;
          box-shadow: rgba(0, 0, 0, 0.3) 1rem 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  background: white;
}

div.image img {
  width: 25rem;
  height: 20rem;
  padding: 1rem;
}

div.image div.stats {
  padding: 1rem;
  background: white;
  width: 100%;
  color: #110c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.image div.stats p {
  margin: 0;
}

div.image button.delete-btn i {
  font-size: 1rem;
}

div.voting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a5a5a5;
}

div#page-controls {
  margin: 4rem;
  font-size: 2rem;
}

div#page-controls i {
  color: #0a094e;
}

div#delete-panel {
  width: 30rem;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1rem 1rem;
          box-shadow: rgba(0, 0, 0, 0.3) 1rem 1rem;
  position: fixed;
  top: -100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}

div#delete-panel h3 {
  padding: 1rem;
  background: #82a3ff;
}

div#delete-panel p {
  color: #0a094e;
  padding: 1rem;
}

div#delete-panel button {
  margin: 0 0 2rem 1rem;
}

div#delete-panel.active {
  top: 10%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*# sourceMappingURL=my_images.css.map */