$bg-color1: rgb(255, 34, 34);
$bg-color2: rgb(255, 123, 123);

body {
    background: linear-gradient(45deg, $bg-color1,  $bg-color2, $bg-color1,  $bg-color2);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    color: white;
    height: 100vh;
}

h1, p, form {
    padding-left: 2rem;
}

h1 {
    padding-top: 2rem;
}

form {
    width: 25rem;

    input[type='submit'] {
        display: block;
        margin: 1rem auto;
        width: 60%;
    }
}

img {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    width: 50%;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
